#messages-feed {
    margin: 25px 0px 25px;
    padding: 15px;
    max-height: 60vh;
    font-size: 14px;
    border: 1px solid #cacaca;
    border-radius: 5px;
    background-color: #fffcf7;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}