#header {
    margin-top: 25px;
    height: 40px;
    font-size: 18px;
    display: flex;
    align-items: center;
}
.header__tile {
    margin-right: 50px;
}
.header__tile-last {
    margin-left: auto;
    margin-right: 0px;
}