.day-label-container {
    position: relative;
    margin: 20px 0px;
    width: 100%;
    border: 1px solid #ebe9e9;
    display: flex;
    justify-content: center;
    align-items: center;
}
.day-label {
    position: absolute;
    padding: 3px 6px;
    border-radius: 8px;
    background-color: #d1d1d1;
}