#blackout {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 101;
}
#edit-modal {
    position: relative;
    padding: 30px;
    width: 40%;
    height: 35%;
    border-radius: 7px;
    background-color: #fffefe;
    z-index: 102;
    text-align: right;
}
#edit-input__container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

}
#edit-input {
    margin: 50px 0px 30px;
    padding: 12px;
    width: 100%;
    height: 40%;
    font-size: 14px;
    font-family: inherit;
    border: 1px solid #aaaaaa;
    border-radius: 3px;
    resize: none;
}
#edit-input__send {
    padding: 3px 12px;
    width: 40%;
    height: 50px;
    font-size: 16px;
    border: none;
    border-radius: 3px;
    color: #ebe9e9;
    background-color: #333333;
    cursor: pointer;
}
#close-button {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    max-width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.close-button svg {
    width: 20px;
    height: 20px;
    fill: #333333;
}